<% provide(:title, 'Users') %>

<div class="content-container">
  <table class="table table-bordered" style="margin-top: 20px;">
    <thead>
      <tr>
        <th>番.</th>
        <th>アバター</th>
        <th>名前</th>
        <th>メール</th>
        <th>ツール</th>
      </tr>
    </thead>
    <% @users.each_with_index do |user, index| %>
      <tbody>
        <%=render 'admins/user', user: user, index: index%>
      </tbody>      
    <% end %>
  </table>
</div>