<td>
	<%=form_for(item,url: admin_items_unapprove_path, method: :post, remote: true) do |f|%>
		<%=f.hidden_field :id, value: item.id%>
		<%=f.submit 'unapprove',class:'btn btn-primary'%>
	<%end%>
</td>