<li class="<%= noti.read? ? 'noti-read' : 'noti-unread' %>">
	<%if noti.kind == 1 %>
		ユーザー「<%= link_to noti.user.name, noti.user %>」は「<%= link_to noti.item.name, {controller: 'items', action: 'show', id: noti.item.id, query: 'notify'} %>」を投稿しました。確認しましょう。
	<%else%>
		レビュー「<%= link_to noti.item.name, {controller: 'items', action: 'show', id: noti.item.id, query: 'notify'} %>」は確認された。
	<%end%>
</li>