<div class="content-container">
  <h1>お知らせ</h1>
  <%if @notifications.nil? %>
      <p>No notifications</p>
  <%else %>
      <ul>
        <%@notifications.each do |noti|%>
            <%=render 'notification', noti: noti %>
        <%end%>
      </ul>
  <%end%>
</div>