<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Top Ratings</h1>
    </div>
    <% @top_ratings.each do |item| %>
        <%= render 'home/top_rating_item', item: item%>
    <% end %>
  </div>

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Top Newest</h1>
    </div>
    <% @top_newest.each do |item| %>
        <%= render 'home/top_newest_item', item: item%>
    <% end %>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Your Website 2014</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->