<div class="col-md-10 col-md-offset-1 spec-form row filter-container">
<hr>
<% if @items.empty? %>
    <h1>Result not found!</h1>
<% else %>
    <div class="container">
      <h1 class="page-header">検索結果</h1>
      <% @items.each do |item| %>
          <%= render 'home/top_newest_item', item: item %>
      <% end %>
    </div>
<% end %>
</div>
