<% if @items.empty? %>
    <h1>Result not found!</h1>
<% else %>
    <div class="container">

      <div class="col-lg-12">
        <h1 class="page-header">検索結果</h1>
      </div>
      <% @items.each do |item| %>
          <%= render 'home/top_newest_item', item: item %>
      <% end %>
    </div>
<% end %>