<div class="panel-footer">
	<%= form_for @message_room.messages.build, remote: true do |f| %>
    <%= f.hidden_field :message_room, value: @message_room.id %>
      <div class="input-group">
        <%= f.text_field :content, class: "form-control", placeholder: 'Enter message', id: "message-content" %>
        <span class="input-group-btn">
            <%=f.submit '送信', class: 'btn btn-primary' %>
            </span>
      </div>
  <% end %>
</div>