

<div class="content-container">
  <h1>ユーザーからのメッセージリスト</h1>
  <table class="table table-bordered responsive">
  <thead>
  <br>
  <br>
  <tr>
    <th width="10%">ID</th>
    <th>ユーザー</th>
    <th width="60%">最新メッセージ</th>
  </tr>
  </thead>
  <tbody>
  <% @message_rooms.each do |mr| %>
      <%= render 'message_room', message_room: mr %>
  <% end %>

  </tbody>
</table>
</div>