<h1> Messages from users </h1>

<table class="table table-bordered responsive">
  <thead>
  <tr>
    <th width="10%">ID</th>
    <th>Conversation</th>
    <th width="60%">Last message</th>
  </tr>
  </thead>
  <tbody>
  <% @message_rooms.each do |mr| %>
      <%= render 'message_room', message_room: mr %>
  <% end %>

  </tbody>
</table>