<div class="content-container">
  
  <%=form_tag controller: :message_rooms, action: :create do %>
    
      <div class="panel panel-info">
        <div class="panel-heading">
          RECENT CHAT HISTORY
        </div>

        <div class="panel-footer">
          <div class="input-group">
            <%= text_field_tag 'content', "", class: 'form-control', placeholder: "Enter your message here!" %>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">SEND</button>
            </span>
          </div>
        </div>

      </div>
<% end %>
</div>