<div class="content-container">
  <div class="panel panel-info">
    <div class="panel-heading">
      RECENT CHAT HISTORY
    </div>

    <div class="messages-area">
      <% @messages.each do |mess| %>
          <%= render 'message', mess: mess %>
      <% end %>
    </div>

    <div class="message_form">
      <%= render 'mess_form', message_room: @message_room %>
    </div>

  </div>
</div>
