<div class="col-md-12">
  <div class="panel panel-info">
    <div class="panel-heading">
      RECENT CHAT HISTORY
    </div>

    <div class="messages-area" id="message-area">
      <% @messages.each do |mess| %>
          <%= render 'message', mess: mess %>
      <% end %>
    </div>

    <div class="message_form">
      <%= render 'mess_form', message_room: @message_room %>
    </div>

  </div>
</div>
