
@import url(https://fonts.googleapis.com/css?family=Roboto:300);


body {
  margin-top: 50px !important;  
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
}
html {
  /*height: 100%*/
}
/* Slider
http://www.freshdesignweb.com/fashion-responsive-slider-tutorial.html
*/
/*-----------------------------------------------------------------------------------*/
.slider_container { 
	width:100%; 
	margin:auto; 
	clear:both; 
	padding:0;}
.flex-caption{ 
	position: absolute; 
	bottom: 0px;
	width: 100%;
}
.caption_title_line { 
	width: 100%; 
	padding: 5px 15px 10px 15px;
	background: rgba( 42, 59, 70, 0.8);
	color: #fff;
	/*border-radius: 5px;*/
	margin: auto;
}
.flex-caption h2 { 
	color: #fff;
	font-size: 30px; 
	padding: 5px 0 5px 0; 
	margin: 0px;
	font-family: 'Ovo', serif;
}
.flex-caption p {
	font-size: 18px;
	color: rgba(255, 255, 255, 0.8);
}
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	width: 100%; 
	margin: 0; 
	padding: 0; 
	background: #ffffff;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0, .2);
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0, .2);
    box-shadow: 0px 2px 2px rgba(0,0,0, .2);}
.flexslider .slides > li {
	display: none;
	width: 100%;
	padding-bottom: 60%;
	height: 500px;
	overflow: hidden;
	text-align: center;
}
.flexslider .slides img {
	width: 100%; 
	display: block; 
}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}

/* Direction Nav */
/*.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:11px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url('next.png') no-repeat center; bottom:184px;}
.flex-direction-nav li a.prev {background:url('prev.png') no-repeat center;bottom:141px;}
.flex-direction-nav li a.next:hover {background:url('next_a.png') no-repeat center;}
.flex-direction-nav li a.prev:hover {background:url('prev_a.png') no-repeat center;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}*/
.flex-direction-nav a {
    display: block;
    position: absolute;
    margin: -17px 0 0 0;
    width: 60px;
    height: 60px;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
}

.flex-direction-nav a:before {
	display: block;
	position: absolute;
	content: '';
	width: 9px;
	height: 13px;
	top: 11px;
	left: 11px;
}
.flex-direction-nav li a.next {
	background:url('next_button.png');
	background-size: contain;
}
.flex-direction-nav li a.prev {
	background:url('prev_button.png');
	background-size: contain;
}
.flex-direction-nav a.prev:before {
}

.flex-direction-nav .next {
    right: 12px;

    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.flex-direction-nav .prev {
    left: 12px;

    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.flex-direction-nav .next:before { background-position: -9px 0; left: 15px; }
.flex-direction-nav .prev:before { background-position: 0 0; }

.flex-direction-nav .next:after {
    right: 0;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #31611e;
}

.flex-direction-nav .prev:after {
    left: 0;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #31611e;
}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}

/*.flexslider .flex-control-nav {
	position: absolute;
	width: 100%;
	bottom: -40px;
	text-align: center;
	margin: 0 0 0 -10px;
}

.flex-control-nav li {
	display: inline-block;
	zoom: 1;
}

.flex-control-paging li a {
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	width: 12px;
	height: 12px;
	margin: 0 3px;
	background-color: #b6b6b6 9;

	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;

	-webkit-box-shadow: inset 0 0 0 2px #b6b6b6;
	-moz-box-shadow: inset 0 0 0 2px #b6b6b6;
	box-shadow: inset 0 0 0 2px #b6b6b6;
}

.flex-control-paging li a.active {
	background-color: #bfab8b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bfab8b), to(#f5e2c1));
	background-image: -webkit-linear-gradient(top, #bfab8b, #f5e2c1);
	background-image: -moz-linear-gradient(top, #bfab8b, #f5e2c1);
	background-image: -o-linear-gradient(top, #bfab8b, #f5e2c1);
	background-image: linear-gradient(to bottom, #bfab8b, #f5e2c1);

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}*/

/* Media Queries
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 1000px) {
.slider_container{ width:90%; margin:0; clear:both; background:none; padding:0;}
.flexslider {width: 100%; margin: 0; padding:0;background:none;}
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:-10px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url('next.png') no-repeat center; bottom:85px;}
.flex-direction-nav li a.prev {background:url('prev.png') no-repeat center;bottom:40px;}
.flex-caption { display:none;}
}

.content-container {
	-webkit-box-shadow: 0px 6px 6px 2px rgba(0,0,0,0.46) !important;
	-moz-box-shadow: 0px 6px 6px 2px rgba(0,0,0,0.46) !important;
	box-shadow: 0px 6px 6px 2px rgba(0,0,0,0.46) !important;
	width: 80%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}