@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  height: 100vh;
  width: 100%;
  min-width: 700px;
  padding: 8% 0 0;
  margin: auto;
  /*background: url('http://tpucdn.com/npu/img/2015/10-30/24477-eb17e490_945_556.jpg') no-repeat;*/
  /*background-size: 100%;*/
  /*background: -webkit-linear-gradient(#FFFFFF, #e9ebec);
  background: -moz-linear-gradient(#FFFFFF, #e9ebec);
  background: -o-linear-gradient(#FFFFFF, #e9ebec);
  background: linear-gradient(#FFFFFF, #e9ebec);*/
}
.login-form-box {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 50%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-field {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.login-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2a3b46;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  border: 2px #2a3b46;
  border-radius: 2px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.fb-login-button {
  margin-top: 10px;
}
.login-button:hover,.login-button:active,.login-button:focus {
  background: #3f4e58;
}
body {
  /*height: 100%;*/
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
html {
  /*height: 100%*/
}