.new-review-page {
  height: 100vh;
  width: 100%;
  min-width: 700px;
  padding: 0;
  margin: auto;
}
.review-form-box {  
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 80%;
  margin: 0 auto 0;
  padding: 40px 40px 0 40px;
  text-align: left;
}

.spec-form {
  padding: 20px;
  border-color: #2a3b46;
  border-top: 2px solid;
}

.new-review-title {
  color: #2a3b46;
  margin-left: 10px;
}
.form-field {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.summit-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2a3b46;
  width: 200px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  border: 2px #2a3b46;
  border-radius: 2px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  display: inline-block;
}
#preview-button {  
  background: #e41c21 !important;
}
.detail-content {
  text-align: center;
  padding-top: 20px;
  border-color: #2a3b46;
  border-top: 2px solid;
}
.post-actions {
  text-align: right;
}



/* Showing review */
.product-images {
  max-width: 500px;
  max-height: 500px;
  text-align: center;
}
.article-section {
  width: 85% !important;
  padding-left: 100px !important;
  padding-right: 100px !important;
  margin: 0 auto 0;

    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0, .2);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0, .2);
    box-shadow: 0px  1px 3px rgba(0,0,0, .2);
}
.comment-count {
  background: #E20309;
  text-transform: uppercase;
  border-bottom: 2px solid #A9050B;
  font-size: 18px;
  padding: 4px;
  color: #FFFFFF;
  display: inline;
  margin-bottom: 8px;
}
.comment-count:hover {
    background: #ce0308;
}
.article-title {
  margin-bottom: 5px;
}
.h4-title {
  color: #E20309;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
}
.overview-section {
  border-top: 4px solid #CBCAC9;
  border-bottom: 4px solid #CBCAC9;
  margin-bottom: 10px;
}
.detailed-review-body {
  margin-bottom: 20px;
}
.spec-text {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.comment-title {
  color: #000000;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
}
.comment-section {
  border-top: 4px solid #CBCAC9;
  margin-bottom: 100px;
}

.modal-dialog {
  width: 80% !important;
}