// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image-profile {
  width: 100%;
  height: 100%;
}

.update-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2a3b46;
  width: 200px;
  margin-top: 10px;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  border: 2px #2a3b46;
  border-radius: 2px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}