<header>
  <div class="row header-container">
    <div class="col-md-8">
      <div class="col-md-8">
        <div class="row">
          <input class="full-field search-input-form" name="keyword" placeholder="何かを入力してください">
        </div>
        <div class="row col-md-6">
          <select class="full-field">
            <option value="5">☆は5以上</option>
            <option value="4">☆は4以上</option>
            <option value="3">☆は3以上</option>
            <option value="2">☆は2以上</option>
            <option value="1" selected>☆は1以上</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <button class="custom-button">検索</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="dropdown" style="float: right;">
        <button class="dropbtn">メニュー▼</button> 
        <div class="dropdown-content">
          <a href="#">ログイン</a>
          <a href="#">ヘルプ</a>
        </div>
      </div>
    </div>
  </div>
</header>